@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,600&family=Pacifico&display=swap");

:root {
  --heading-text: "Pacifico";
  --content-text: "Nunito", sans-serif;
  --content: white;
}


form {
  font-family: var(--content-text);
  text-align: center;
  color: whitesmoke;
  padding-left: 4rem;
  font-size: 1.2rem;
}

select {
  color: #ca2bfc;
  background-color: rgb(255, 253, 244);
  border-radius: 4px;
  padding: 0.2rem;
  margin: 0rem 0.5rem;
}
label {
  display: flex;
  justify-content: center;
  text-align: left;
}
input {
  background-color: rgb(255, 253, 244);
  border-radius: 4px;
  border: none;
  color: #ca2bfc;
  margin: 0rem 0.5rem;
}

#play-button input {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: fuchsia;
}

#play-button{
  padding:0.5rem 1.2rem;
}

@media screen and (max-width: 450px) {
  form {
    font-size: 0.9rem;
  }
}