.bubble{
    background-color: blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bubble-bounce 2s ease infinite;
    position: relative;
}

@keyframes bubble-bounce {
  0%, 100% {
    top: 0;
  }

  50% {
    top: 10px;
  }
}