:root {
    --heading-text: "Pacifico";
    --content-text: "Nunito", sans-serif;
    --content: white;
  }

  #Lobby{
    background-image: url('../../images/lobby-desktop.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 12rem;
  }
  
  #players{
    display:flex;
    justify-content: space-between;
    min-width: 500px;
  }
  
  body {
    color: whitesmoke;
  }
  
  h2 {
    /* padding-top: 12rem; */
    font-family: var(--content-text);
    font-size: 2.5rem;
  }

  p {
    font-family: var(--content-text);
  }

  @media screen and (max-width: 450px) {
    #Lobby {
        background-image: url('../../images/lobby-mobile.jpg');
    }
  }
  