@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,600&family=Pacifico&display=swap");

:root {
  --heading-text: "Pacifico";
  --content-text: "Nunito", sans-serif;
  --content: white;
}

#answer-cards {
  display: block;
  text-align: center;
  padding: 1.2rem;
  background-color: lightcyan;
  color: #2d6cdf;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: auto;
  margin-top: 1rem;
  font-family: var(--content-text);
}
 
#answer-cards:hover {
  cursor: pointer;
  background-color: #2d6cdf;
  color: lightcyan;
  transition-duration: 0.4s;
}
