@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,600&family=Pacifico&display=swap");

:root {
  --heading-text: "Pacifico";
  --content-text: "Nunito", sans-serif;
  --content: white;
}
h3 {
  font-family: var(--content-text);
  color: var(--content);
  text-align: center;
  /* padding-top: 2rem; */
  margin: 0 auto;
}

#question-container {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

#question-num {
  font-size:1.8rem;
}

@media screen and (max-width: 450px) {
  #question-container {
  text-align: center;
  width: 220px;
  margin: 0 auto;
  font-size: 0.9rem;
}
}