@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,600&family=Pacifico&display=swap");

:root {
  --heading-text: "Pacifico";
  --content-text: "Nunito", sans-serif;
  --content: white;
}
h3 {
  font-family: var(--content-text);
  color: var(--content);
  text-align: center;
  margin-top: 4rem;
}
